.timeline-item-content {
    box-sizing: border-box;
}

.timeline-item-content.primary {
    margin-left: 80px;
    position: relative;
    text-align: left;
}

.timeline-item-content.multi-line {
    padding-top: 0;
}

.timeline-item-title {
    margin: 0;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.timeline-item-title-content {
    display: inline-block;
    font-weight: 500;
    margin-right: auto;
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.timeline-item {
    line-height: 20px;
    padding: 20px 16px;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.54);
}

.timeline-item-title .place-visit {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
}

.timeline-item .timeline-item-text {
    padding-top: 4px;
}


.place-history-moment-outer .moment-edit-control.place-visit {
    background-color: #eeeeee;
    border: solid;
    border-color: #e0e0e0;
    border-radius: 2px;
    border-width: 1px;
    font-weight: 500;
}

.place-history-moment-outer .moment-edit-control {
    margin-left: -12px;
    min-height: 36px;
    min-width: 192px;
    padding: 2px 12px;
    -webkit-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
    -moz-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
    -o-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
    transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
}

.place-history-moment-outer:hover .moment-edit-control {
    background-color: #eeeeee;
    box-shadow: 0 1px 1px rgba(0,0,0,.05), 0 1px 5px rgba(0,0,0,.24);
    -webkit-transition: box-shadow .2s cubic-bezier(0.4,0.0,1,1);
    -moz-transition: box-shadow .2s cubic-bezier(0.4,0.0,1,1);
    -o-transition: box-shadow .2s cubic-bezier(0.4,0.0,1,1);
    transition: box-shadow .2s cubic-bezier(0.4,0.0,1,1);
}


.place-history-moment-outer .moment-edit-control:hover {
    border-color: #4285f4;
    box-shadow: 0 1px 4px rgba(0,0,0,.06), 0 3px 6px rgba(0,0,0,.26);
}

.place-history-moment-outer .edit-dialog-select .drop-down {
    margin-left: auto;
}
