.top-activities {
    -webkit-align-items: center;
    align-items: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-activity {
    margin-right: 24px;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-activity-icon {
    background-size: 24px;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.top-activity-text {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    line-height: 16px;
}
