// body {
//   padding: 10px;
//   margin: 0;
// }

.component {
  // padding: 10px;
  color: blue;
}

.link_control {
  display: inline-block;
  padding: 6px 16px;
  margin: 0;
  background-color: lightgreen;
  border-radius: 6px;
  cursor: pointer;
}

.link_control:hover {
  background-color: green;
}

@import "App/Components/Loader";
