body {
  // padding: 10px;
  // margin: 0;
  overflow-y: scroll;
}

.component {
  // padding: 10px;
  color: blue;
}

.link_control {
  display: inline-block;
  padding: 6px 16px;
  margin: 0;
  background-color: lightgreen;
  border-radius: 6px;
  cursor: pointer;
}

.link_control:hover {
  background-color: green;
}

.row-bordered, .row-backbordered {
    position: relative;
}

.row-backbordered:before {
    content: '';
    position: absolute;
    display: block;
    top: 45%;
    left: -1000px;
    right: -1000px;
    height: 1px;
    background-color: #dcdfe4;
}

@import "App/Components/Loader";
